<div class="container" >

    <h1>Department Query</h1>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <label for="dept_no">Department number:</label>
            <input id="dept_no" class="form-control" type="number" name="dept_no"
                   placeholder="Enter department number to search">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control">
                Search
            </button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Field name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Department number</td>
            <td></td>
        </tr>
        <tr>
            <td>Department name</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
