<hr class="container">

<h1>Search Here :</h1>

<form name="queryForm" novalidate class="form-inline">
    <div class="form-group">
        <input id="deptName" class="form-control" type="text" name="deptName" ng-model = "ctrl.deptName"
               placeholder="Enter department name">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                ng-click="ctrl.search()">
            Search Department
        </button>
        <button  class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                 ng-click="ctrl.searchForManager()">
            Search with Department Manager Info
        </button>
    </div>
</form>
<hr>
<div class="alert alert-info" role="alert">
    <strong>Note :</strong> Only first 10 records will be shown
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Department No</th>
        <th>Department name</th>
        <th ng-show="ctrl.showManager">Department Manager Id</th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="dept in ctrl.departments">
        <td>{{dept.dept_no }}</td>
        <td>{{ dept.dept_name }}</td>
        <td ng-show="ctrl.showManager">{{ ctrl.getManager(dept).emp_no }}</td>
    </tr>
    </tbody>
</table>
</div>